@import 'partials/variables';
@import 'partials/mixins';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}


#main_container{

    width: 100%; 
    height: 100vh; 
    background: $purple; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-family: 'Open Sans', sans-serif;


#calculator_container{
    width: 360px;     
    height: 640px; 
    background: $peach; 
    @include shadow(5px, 5px);
    border-radius: 10px;  

    #answer{
        width: 90%; 
        margin: 20px auto; 
        padding: 20px 15px ;
        background: #fff;
        font-size: 2.5rem;  
        font-weight: 500; 
        text-align: right; 
        border: 1px solid $pink; 
        border-radius: 5px;  
    }

    #button_container{
        width: 90%; 
        display: grid;
        grid-template-columns: auto auto auto auto; 
        gap: 15px 10px;
        align-content: start;
        margin: 20px auto 0; 
        padding-top: 30px;
        border-top: 1px solid $pink; 
        button{
          padding: 20px; 
          border-radius: 15px;
          border: 0; 
          font-size: 1.25rem; 
          font-weight: 800; 
        background: $pink; 
        color:#fff;
        &:hover{
            background: $pink-hover; 
        }
        &:focus {     
            background-color:$orange;    
        }
        }
        .dbl_btn{
        grid-column: 1 / 3;
      
    }

    }
}
}